version: "3"
services: 
    xray:
        image: teddysun/xray:1.7.5
        container_name: xray
        restart: always
        environment: 
            TZ: Asia/Shanghai
        ports: 
            - 443:443
        volumes: 
            - ./xray/config:/etc/xray
            - ./xray/logs:/var/log/xray
            - ./cert:/home/root/cert
        depends_on: 
            - acme
        networks: 
            - dockernet

    php:
        image: nat1vus/php-fpm-pgsql
        container_name: php-fpm-pgsql
        restart: always
        environment: 
            TZ: Asia/Shanghai
        volumes: 
            - ./nginx/www:/var/www
        depends_on: 
            - db
        networks: 
            - dockernet

    web:
        image: nginx:alpine
        container_name: nginx
        labels:
            - sh.acme.autoload.domain=example.com
        restart: always
        environment: 
            TZ: Asia/Shanghai
        ports:
            - 80:80
        volumes: 
            - ./nginx/conf.d:/etc/nginx/conf.d
            - ./nginx/www:/var/www
            - ./nginx/nginx_logs:/var/log/nginx
            - ./nginx/web_logs:/etc/nginx/logs
            - ./cert:/etc/nginx/ssl
        depends_on: 
            - php
        networks: 
            - dockernet

    db:
        image: postgres:alpine
        container_name: pgsql
        restart: always
        environment: 
            POSTGRES_USER: DB_USER
            POSTGRES_PASSWORD: DB_PASS
            POSTGRES_DB: DB_NAME
            TZ: Asia/Shanghai
        volumes:
            - ./dbdata:/var/lib/postgresql/data
        networks: 
            - dockernet
    acme:
        image: neilpang/acme.sh
        container_name: acme
        restart: always
        environment:
            DP_Id: 'dp_id'
            DP_Key: 'dp_key'
            DEPLOY_DOCKER_CONTAINER_LABEL: 'sh.acme.autoload.domain=example.com'
            DEPLOY_DOCKER_CONTAINER_KEY_FILE: '/etc/nginx/ssl/xray.key'
            DEPLOY_DOCKER_CONTAINER_FULLCHAIN_FILE: '/etc/nginx/ssl/xray.crt'
            DEPLOY_DOCKER_CONTAINER_RELOAD_CMD: 'service nginx force-reload'
            TZ: Asia/Shanghai
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - ./acme/acme.sh:/acme.sh
            - ./nginx/cert:/etc/nginx/ssl
        command: daemon
        depends_on: 
            - nginx
        networks: 
            - dockernet

networks: 
    dockernet:
